[submodule "libft/ft_free"]
	path = libft/ft_free
	url = git@github.com:joao41-second/ft_free.git
[submodule "libft/ft_printf"]
	path = libft/ft_printf
	url = git@github.com:joao41-second/ft_printf.git
[submodule "libft/ft_list"]
	path = libft/ft_list
	url = git@github.com:joao41-second/ft_list.git
[submodule "libft/ft_get_next_line"]
	path = libft/ft_get_next_line
	url = git@github.com:joao41-second/ft_get_next_line.git
