[submodule "libft/ft_free"]
	path = libft/ft_free
	url = git@github.com:joao41-second/ft_free.git
[submodule "libft/ft_printf"]
	path = libft/ft_printf
	url = git@github.com:joao41-second/ft_printf.git
[submodule "libft/ft_get_next_line"]
	path = libft/ft_get_next_line
	url = git@github.com:joao41-second/ft_get_next_line.git
[submodule "libft/list"]
	path = libft/ft_list
	url = git@github.com:joao41-second/ft_list.git
[submodule "libft/ft_libft"]
	path = libft/ft_libft
	url = git@github.com:joao41-second/ft_libft.git
[submodule "libft/minilibx-linux"]
	path = libft/minilibx-linux
	url = https://github.com/42paris/minilibx-linux.git
